html,
body {
    margin: 0;
    padding: 0
}

body {
    font: 16px/1.6 system-ui, -apple-system, Segoe UI, Roboto, Arial, Helvetica, sans-serif;
    padding: 2rem;
    max-width: 60rem
}

header {
    margin-bottom: 1rem
}

@media (prefers-color-scheme: dark) {
    body {
        background: #111;
        color: #eee
    }
}

button {
    padding: .6rem 1rem;
    border: 1px solid #ccc;
    border-radius: .5rem;
    background: #f3f3f3;
    cursor: pointer
}

button:active {
    transform: scale(.98)
}